body{
    background: black;

}


main{
    background: #0000;
    padding-top: 40px;
    height: 1400px;
    width: 100%;
    color: #ffff;

}
.quiSommesNous{
    height: fit-content;
    display:flex;
    color: #ffff;
    margin-left: 150px;
    // margin-right: 150px;

}
.Nos-reparateur{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
}
.slider{
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.avis{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    .avis1, .avis2, .avis3{
        background: #c4c4c4;
        margin: 15px;
        padding: 15px;
    }
   .call-to-action{
    background-color: blue;
    color: #fff;
    text-decoration: none;
    font-size: x-large;
    margin: 150px;    
  }
  a:hover{
    color: plum;
  }

}
